#color-display{
    width:50%;
    /*height:400px;
    background-color: lightgrey;*/
    
  min-height: 100px; /* Initial height of the container */
  background-color: lightgrey;
  display: flex; /* Optional: Use flexbox for better layout */
  flex-direction: column;
  flex-wrap: wrap; /* Ensure child boxes wrap to the next line if necessary */
  gap: 10px; /* Add spacing between child boxes */
  align-items: center;
  justify-content: center;
    
    
}
.rainbow-border-box{
    height:50px;
    width:50%;
    margin-top: 50px;
    border: 10px solid transparent;
    border-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
    border-image-slice: 1;
  /*align-items: center;
  justify-content: center;*/
  /*width: 50px;
  height: 50px;*/
  /*background-color: lightblue;*/
  /*border: 1px solid #333;*/
 /* display: flex;
  align-items: center;
  justify-content: center;*/
    
}
/*.rainbow-border {
    border: 10px solid transparent;
    border-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
    border-image-slice: 1;
    
}*/
  
  
  
  